body {
background:url(img/bg.png)
}

#dtime {
color: white;
font-size: 30px;
}

#digital {
border-radius: 25px;
font-family: 'Kumar One', cursive;
background-color: gray;
color: black;
font-size: 24px;
}

#analog {
border-radius: 25px;
font-family: 'Kumar One', cursive;
background-color: gray;
color: black;
font-size: 24px;
}
